.contactUs_header{
  background: url(./images/bluebg.png); 
  background-size: cover;
  width: 100%;
  height: 304px;
}
.contactUs-content{
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 67px;
    color: #1B2435;
    padding-top: 118px;
}

.contactUs-second-row {
    margin-top: 80px;
}
.contactUs-photo{
    text-align: center;
}

.laptop-image{
    width: 544px !important;

}
.contactUs-subheading-content{
    padding-right: 31px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
        padding-left: 11px;
    /* or 27px */
    color: #004549;
}
.contactUs-subheading{
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 150%;
    color: #002628;

}
.form-group{
    width: 100%;
}
.form-control{
    height: 48px !important;
    background: #fff !important;
    border: 1px solid #137DAB;
box-sizing: border-box;
border-radius: 4px;
}
.textarea{
    background: #fff !important;
    border: 1px solid #137DAB;
box-sizing: border-box;
border-radius: 4px;
 width: 100%;
}
.no-padding{
    padding-left: 0px !important;
}
.contact-label{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.submit-btn{
    width: 120px;
    height: 40px;
    background: #B9B9B9;
    color:#fff;
    border: 2px solid #B9B9B9;
    width: 40% !important;

}
.contactUs-third-row{
    background-color:  #E7F9FD;
    width: 708px;
    /* border: 2px solid; */
    margin: 25px 110px;
    box-shadow: 1px 4px 2px rgba(0, 54, 75, 0.15), 1px 4px 10px rgba(19, 125, 171, 0.25);
    border-radius: 4px;
}
.contactUs-third{
  
    width: 100%;
    border-radius: 10px;
}
.card{
    margin-top: 60px;
    margin-left: 65px;
    margin-bottom: 60px;
    /* border: none; */
    margin-right: 65px;
     width: 100%;
      border: 0px solid !important ;
}
.curved-line{
    display: flex;
    justify-content: center;
}
.map-icon{
    height: 34px;
    width: 24px;
}
.bold-text{
    font-style:bold
}
.contact-vector{
    background-size: cover;
    background:url(./images/contactvector.png);
}
.home---button-div{
    padding-top: 24px;
     padding-bottom: 5px;
}
.home---button{
   width: 152px;
   height: 48px;
   background-color: #137DAB;
   box-shadow: 2px 4px 8px rgba(0, 38, 40, 0.15);
   border-radius: 8px;
   color: #fff;
   border: 1px solid #137DAB;
}


@media (max-width: 576px) {
    .card {
    margin-top: 60px;
    margin-left: 0px;
    margin-bottom: 60px;
    border: 0px solid !important;
    margin-right: 0px;
    width: 100%;
}

.contactUs-third-row{
 background-color:  #E7F9FD !important;
    width: 100%;
      margin: 0px ;
 
    box-shadow: 1px 4px 2px rgba(0, 54, 75, 0.15), 1px 4px 10px rgba(19, 125, 171, 0.25) !important;
    border-radius: 4px !important;
}
}

@media (min-width: 992px) {
         .laptop-image{
    width: 100%;
    
}
    .form-group{
    width: 100% !important;
}
}

@media only screen and (max-device-width: 480px) {
       /* styles for mobile browsers smaller than 480px; (iPhone) */

       .laptop-image{
    width: 100% !important;
    
}
       .contactUs-third-row{
    background-color:  #E7F9FD !important;
    width: 100%;
    
    margin: 0px ;
    box-shadow: 1px 4px 2px rgba(0, 54, 75, 0.15), 1px 4px 10px rgba(19, 125, 171, 0.25) !important;
    border-radius: 4px !important;
}
    }
