.research_header{
  background: url(./images/curvedbg.png); 
  background-size: cover;
  width: 100%;
 height: 533px; 
}
.research-content{
    padding-left: 88px;
    padding-top: 136px;
    padding-bottom: 5px;
}
.research-heading{ 
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 67px;
    color: #002628;
 }
.research-paragraph{
    padding-top: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #004549;
}
.research-button-div{
     padding-top: 20px;
}
.research-button{
    width: 152px;
    height: 48px;
    background-color: #137DAB;
    box-shadow: 2px 4px 8px rgba(0, 38, 40, 0.15);
    border-radius: 8px;
    color: #fff;
    border: 1px solid #137DAB;
}

button:focus {
    outline: none !important;
}

/************* second part europe *************/

.research-second-header{
   background: #FAF6EC;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-top: 50px; 
}

.research-second-content{
    padding-left: 88px;
  padding-top: 25.19px;
}
.photo-01{
background: url(./images/picture02.png);
width: 416px;
height: 256px;
background-size: cover;
}

.photo-02{
background: url(./images/picture04.png);
width: 416px;
height: 256px;
background-size: cover;
}

.photo-03{
background: url(./images/picture03.png);
width: 416px;
height: 256px;
background-size: cover;
}

.gradient-content-02-03{
    width: 402px !important;
}

.gradient-content{
    position: absolute;
    bottom: 14px !important;
    padding: 0px 23px 18px;
    background: linear-gradient(180deg, rgba(4, 46, 64, 0) 49.24%, #042E40 100%), url(photo-1604196623307-68af091edbc6.jpg);
    filter: drop-shadow(1px 3px 2px rgba(0, 55, 79, 0.04)), drop-shadow(2px 4px 8px rgba(0, 38, 40, 0.15));
    border-radius: 4px;
    width: 413px;
    margin-left: 5px;
     background-size: cover;
     color: #fff !important;
}
.second-image{
 width: 416px;
height: 256px;
}
.research-second-heading{  
font-style: bold;
font-weight: bold;
font-size: 40px;
line-height: 60px;

color: #002628;
}

.Research-second-author{
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 150%;
   /* or 27px */
   padding-top: 22px;
}
.research--second-button-div{
    padding-top: 24px;
     padding-bottom: 5px;
}
.research--second-button{
   width: 152px;
   height: 48px;
   background-color: #137DAB;
   box-shadow: 2px 4px 8px rgba(0, 38, 40, 0.15);
   border-radius: 8px;
   color: #fff;
   border: 1px solid #137DAB;
}
.blue-icons{
   padding-top: 78.19px;
    padding-bottom: 25px;
    text-align: center;
    padding-left: 25px;
}


.research-icons{
   display: flex;
}

/************* third part europe *************/

.research-third-header{
background: #E3F4F8;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-top: 50px; 
}

/************* fourth part europe *************/

.research-fourth-header{
 background: #FAF6EC;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-top: 50px; 
}
.blue-icons-right{
 padding-top: 78.19px;
    padding-bottom: 25px;
    text-align: center;
    padding-right: 25px;
}
.research-icons-third{
display: flex;
padding-left: 50px;
}